@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #ffffff;
  }
}
.html {
  background: #ffffff;
}
body {
  color: black;
  background: #ffffff;
}
