@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #0e0c15;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #0e0c15;
  }
}
.html {
  background: #0e0c15;
}
body {
  color: white;
  background: #0e0c15;
}
